/* styles.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  background: linear-gradient(120deg, #aec1d0, #f9f9f9, #aec1d0); 
  
}

.form-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  margin-bottom: 0.5rem;
  color: #333;
}

p {
  margin-bottom: 1.5rem;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: #444;
}

input {
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  padding: 0.8rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  
}

button:hover {
  background-color: #005fa3;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  width: 70px;
  border-radius: 50px;
}